@font-face {
  font-family: "Besley", serif;
  src: url("./asset/fonts/Besley-Black.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("./asset/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: bold;
}
body {
  margin: 0;
  font-family: "Besley", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Besley", serif;
}
